.icon-Settings{
    background-image: url("../../imgs/icons.png");
    background-position: -452px -108px;
    width: 38px;
    height: 38px;
}
.icon-addicon{
    background-image: url("../../imgs/icons.png");
    background-position: -202px -359px;
    width: 40px;
    height: 40px;
}
.icon-arrow-gray{
    background-image: url("../../imgs/icons.png");
    background-position: -478px -355px;
    width: 12px;
    height: 23px;
}
.icon-arrow-left{
    background-image: url("../../imgs/icons.png");
    background-position: -452px -277px;
    width: 19px;
    height: 36px;
}
.icon-arrow-white{
    background-image: url("../../imgs/icons.png");
    background-position: -452px -355px;
    width: 16px;
    height: 30px;
}
.icon-assistant{
    background-image: url("../../imgs/icons.png");
    background-position: -310px -297px;
    width: 45px;
    height: 45px;
}
.icon-car{
    background-image: url("../../imgs/icons.png");
    background-position: -51px -413px;
    width: 41px;
    height: 33px;
}
.icon-caricon{
    background-image: url("../../imgs/icons.png");
    background-position: -452px -241px;
    width: 32px;
    height: 26px;
}
.icon-horn{
    background-image: url("../../imgs/icons.png");
    background-position: -452px -323px;
    width: 24px;
    height: 22px;
}
.icon-house-bak{
    background-image: url("../../imgs/icons.png");
    background-position: 0px -359px;
    width: 42px;
    height: 44px;
}
.icon-house{
    background-image: url("../../imgs/icons.png");
    background-position: 0px -413px;
    width: 41px;
    height: 36px;
}
.icon-house2{
    background-image: url("../../imgs/icons.png");
    background-position: -365px -297px;
    width: 44px;
    height: 45px;
}
.icon-houseicon{
    background-image: url("../../imgs/icons.png");
    background-position: -452px -201px;
    width: 33px;
    height: 30px;
}
.icon-icon-tip{
    background-image: url("../../imgs/icons.png");
    background-position: -388px -227px;
    width: 20px;
    height: 20px;
}
.icon-light{
    background-image: url("../../imgs/icons.png");
    background-position: -288px 0px;
    width: 154px;
    height: 155px;
}
.icon-order-min1{
    background-image: url("../../imgs/icons.png");
    background-position: -352px -359px;
    width: 40px;
    height: 40px;
}
.icon-order-min2{
    background-image: url("../../imgs/icons.png");
    background-position: -402px -359px;
    width: 40px;
    height: 40px;
}
.icon-order-min3{
    background-image: url("../../imgs/icons.png");
    background-position: -452px 0px;
    width: 40px;
    height: 40px;
}
.icon-order-min4{
    background-image: url("../../imgs/icons.png");
    background-position: -102px -359px;
    width: 40px;
    height: 40px;
}
.icon-order-min5{
    background-image: url("../../imgs/icons.png");
    background-position: -152px -359px;
    width: 40px;
    height: 40px;
}
.icon-order-min6{
    background-image: url("../../imgs/icons.png");
    background-position: -52px -359px;
    width: 40px;
    height: 40px;
}
.icon-order-min7{
    background-image: url("../../imgs/icons.png");
    background-position: -252px -359px;
    width: 40px;
    height: 40px;
}
.icon-order-on1{
    background-image: url("../../imgs/icons.png");
    background-position: -124px -297px;
    width: 52px;
    height: 52px;
}
.icon-order-on2{
    background-image: url("../../imgs/icons.png");
    background-position: -248px -297px;
    width: 52px;
    height: 52px;
}
.icon-order-on3{
    background-image: url("../../imgs/icons.png");
    background-position: -388px -165px;
    width: 52px;
    height: 52px;
}
.icon-order-on4{
    background-image: url("../../imgs/icons.png");
    background-position: -226px -225px;
    width: 52px;
    height: 52px;
}
.icon-order-on5{
    background-image: url("../../imgs/icons.png");
    background-position: -186px -297px;
    width: 52px;
    height: 52px;
}
.icon-order-on6{
    background-image: url("../../imgs/icons.png");
    background-position: -62px -297px;
    width: 52px;
    height: 52px;
}
.icon-order-on7{
    background-image: url("../../imgs/icons.png");
    background-position: 0px -297px;
    width: 52px;
    height: 52px;
}
.icon-order-on8{
    background-image: url("../../imgs/icons.png");
    background-position: -164px -225px;
    width: 52px;
    height: 52px;
}
.icon-person{
    background-image: url("../../imgs/icons.png");
    background-position: -452px -50px;
    width: 30px;
    height: 48px;
}
.icon-phone{
    background-image: url("../../imgs/icons.png");
    background-position: -452px -156px;
    width: 30px;
    height: 35px;
}
.icon-place{
    background-image: url("../../imgs/icons.png");
    background-position: -288px -260px;
    width: 18px;
    height: 24px;
}
.icon-reduceicon{
    background-image: url("../../imgs/icons.png");
    background-position: -302px -359px;
    width: 40px;
    height: 40px;
}
.icon-resultfail{
    background-image: url("../../imgs/icons.png");
    background-position: -164px -132px;
    width: 70px;
    height: 83px;
}
.icon-resultsuc{
    background-image: url("../../imgs/icons.png");
    background-position: -288px -165px;
    width: 90px;
    height: 85px;
}
.icon-serious{
    background-image: url("../../imgs/icons.png");
    background-position: 0px -132px;
    width: 154px;
    height: 155px;
}
.icon-telbg{
    background-image: url("../../imgs/icons.png");
    background-position: 0px 0px;
    width: 278px;
    height: 122px;
}
.icon-time{
    background-image: url("../../imgs/icons.png");
    background-position: -418px -227px;
    width: 20px;
    height: 20px;
}
